src/compiler/Main.java
src/compiler/CodePosition.java
src/compiler/Compiler.java
src/compiler/backEnd/operands/Register.java
src/compiler/backEnd/operands/Operand.java
src/compiler/backEnd/operands/RegisterList.java
src/compiler/backEnd/operands/Address.java
src/compiler/backEnd/operands/ImmediateValue.java
src/compiler/backEnd/instructions/Push.java
src/compiler/backEnd/instructions/Orr.java
src/compiler/backEnd/instructions/Add.java
src/compiler/backEnd/instructions/Pop.java
src/compiler/backEnd/instructions/Str.java
src/compiler/backEnd/instructions/PrintingInstrVisitor.java
src/compiler/backEnd/instructions/Cmp.java
src/compiler/backEnd/instructions/Sub.java
src/compiler/backEnd/instructions/Ldr.java
src/compiler/backEnd/instructions/Mov.java
src/compiler/backEnd/instructions/Branch.java
src/compiler/backEnd/instructions/AssemblerDirective.java
src/compiler/backEnd/instructions/Cond.java
src/compiler/backEnd/instructions/Label.java
src/compiler/backEnd/instructions/Mul.java
src/compiler/backEnd/instructions/BranchLink.java
src/compiler/backEnd/instructions/And.java
src/compiler/backEnd/instructions/Instruction.java
src/compiler/backEnd/instructions/Token.java
src/compiler/backEnd/instructions/InstructionVisitor.java
src/compiler/backEnd/instructions/Eor.java
src/compiler/backEnd/codeGeneration/CodeGenerator.java
src/compiler/backEnd/codeGeneration/StackOffsetVisitor.java
src/compiler/backEnd/codeGeneration/ProgramNode.java
src/compiler/backEnd/codeGeneration/ArmCodeState.java
src/compiler/backEnd/codeGeneration/MsgGenerator.java
src/compiler/backEnd/codeGeneration/AbstractSyntaxTreeVisitor.java
src/compiler/backEnd/codeGeneration/ASTNode.java
src/compiler/backEnd/codeGeneration/IntermediateCodeGeneration.java
src/compiler/frontEnd/statements/PrintStat.java
src/compiler/frontEnd/statements/ReadStat.java
src/compiler/frontEnd/statements/AssignStat.java
src/compiler/frontEnd/statements/BeginEndStat.java
src/compiler/frontEnd/statements/FreeStat.java
src/compiler/frontEnd/statements/ReturnStat.java
src/compiler/frontEnd/statements/IfThenElseStat.java
src/compiler/frontEnd/statements/SkipStat.java
src/compiler/frontEnd/statements/Stat.java
src/compiler/frontEnd/statements/PrintlnStat.java
src/compiler/frontEnd/statements/WhileStat.java
src/compiler/frontEnd/statements/StatWithCond.java
src/compiler/frontEnd/statements/StatList.java
src/compiler/frontEnd/statements/ExitStat.java
src/compiler/frontEnd/errorHandling/ExceptionErrorListener.java
src/compiler/frontEnd/errorHandling/SyntaxException.java
src/compiler/frontEnd/errorHandling/SemanticException.java
src/compiler/frontEnd/semanticCheck/ReturnableType.java
src/compiler/frontEnd/semanticCheck/SemanticCheckVisitor.java
src/compiler/frontEnd/types/Type.java
src/compiler/frontEnd/types/BaseType.java
src/compiler/frontEnd/types/ArrType.java
src/compiler/frontEnd/types/PairType.java
src/compiler/frontEnd/expressions/UnaryOperExpr.java
src/compiler/frontEnd/expressions/Expr.java
src/compiler/frontEnd/expressions/ValueExpr.java
src/compiler/frontEnd/expressions/BinaryOperExpr.java
src/compiler/frontEnd/symbolTable/FunctionIdentifier.java
src/compiler/frontEnd/symbolTable/Identifier.java
src/compiler/frontEnd/symbolTable/SymbolTable.java
src/compiler/frontEnd/literals/ArrayLiter.java
src/compiler/frontEnd/literals/UnaryOperLiter.java
src/compiler/frontEnd/literals/StringLiter.java
src/compiler/frontEnd/literals/BinaryOperLiter.java
src/compiler/frontEnd/literals/BoolLiter.java
src/compiler/frontEnd/literals/Liter.java
src/compiler/frontEnd/literals/IntLiter.java
src/compiler/frontEnd/literals/PairLiter.java
src/compiler/frontEnd/literals/CharLiter.java
src/compiler/frontEnd/assignables/ArgList.java
src/compiler/frontEnd/assignables/Variable.java
src/compiler/frontEnd/assignables/ParamList.java
src/compiler/frontEnd/assignables/Function.java
src/compiler/frontEnd/assignables/AssignRHS.java
src/compiler/frontEnd/assignables/Second.java
src/compiler/frontEnd/assignables/Call.java
src/compiler/frontEnd/assignables/AssignLHS.java
src/compiler/frontEnd/assignables/First.java
src/compiler/frontEnd/assignables/ArrayElem.java
src/compiler/frontEnd/assignables/Param.java
src/compiler/frontEnd/assignables/NewPair.java
src/antlr/WaccParserVisitor.java
src/antlr/WaccParserBaseVisitor.java
src/antlr/WaccLexer.java
src/antlr/WaccParser.java
